* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #007bff;
}

.about-section {
  height: 70vh;
  background-color: #f2f2f2;
  padding: 5rem 5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: center;
}

.about-section h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-right: -12rem;
  font-family: "Hexco", sans-serif;
}

.about-section .image {
  width: 35vw;
  overflow: hidden;
}

.about-section .image img {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}

.about-section .image img:hover {
  transform: scale(1.05);
}

.about-section span {
  color: #007bff;
  font-family: "Hexco", sans-serif;
}

.about {
  background-color: #d9e6eb;
  color: #000;
  padding: 1rem 7% 1rem;
  text-align: center;
  min-height: 50vh;
  font-family: "Inter", sans-serif;
}

.about .about-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.about .about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  overflow: hidden;
}

.about .about-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease;
}

.about .about-image img:hover {
  transform: scale(1.05);
}

.about .section-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: "Hexco", sans-serif;
  text-align: left;
}

.about .about-text span {
  font-family: "Hexco", sans-serif;
}

.about .about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 500;
  text-align: left;
  justify-content: center;
  border-top-right-radius: 50px;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.about-text .button-two {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  border: none;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-weight: 500;
  color: #000;
  font-family: "Hexco", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.about-text .button-two::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent);
  color: #fff;
  text-align: center;
  visibility: hidden;
  z-index: 1;
  transition:
    left 0.5s ease-in-out,
    visibility 0.3s ease;
}

.about-text .button-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.about-text .button-two:hover,
.about-text .button-two:focus,
.about-text .button-two:active {
  color: #fff;
}

.about-text .button-two:hover::before,
.about-text .button-two:focus::before,
.about-text .button-two:active::before {
  left: 0;
  visibility: visible;
}

.about-text .button-two.style-2 {
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
}

.about-text .button-two.style-2{
  text-decoration: none;
  font-size: .90rem;
  color: #000;
}

@media (max-width: 768px) {
  .about-section h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 500;
  margin-right: 0;
  font-family: "Hexco", sans-serif;
  }

  .about-section .image {
  width: 80vw;
  overflow: hidden;
  margin: 0 auto;
  }

  .about-content {
    padding: 1.3rem;
    top: 43%;
  }

  .about-content h1 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
    margin-top: 5rem;
  }

  .about .about-container {
    grid-template-columns: 1fr;
  }

  .about .about-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .about .about-text {
    text-align: justify;
    
  }

}
