.choose-section{
    padding: 1.5rem 10% 3rem;
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #fff;
}

.choose-section .section-title{
    text-align: left;
    font-size: 17px;
    margin-bottom: 4rem;
    color: #007BFF;
}

.choose-section .choose-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    justify-content: center;
}
.choose-card{
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 5px #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.choose-card:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.choose-card .choose-icon{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.choose-card .choose-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.choose-card .choose-description{
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-bottom: 1.5rem;
}

.choose-card .btn {
  display: inline-block;
  padding: .9rem 1.5rem;
  background: linear-gradient(135deg, #4aa3d8, #1e7eb5);
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: .4s;
  cursor: pointer;
}

.choose-card .btn:hover {
  background: linear-gradient(135deg, #1e7eb5, #4aa3d8);
  transform: translateX(8px);
}