.choose-section{
    padding: 3rem 4% 3rem;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

.choose-section .section-title{
    text-align: left;
    font-size: 3rem;
    margin-bottom: 4rem;
    color: #fff;
}

.choose-section .choose-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
}
.choose-card{
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 5px #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.choose-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.choose-card .choose-icon{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.choose-card .choose-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.choose-card .choose-description{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}