.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 250px;
}

.footer-section ul {
  list-style-type: square;
  color: #4aa3d8;
}

.footer-area {
  background: #fff;
  padding: 120px 0 75px;
  align-items: center;
}

.footer-title {
  font-size: 20px;
  color: #000;
  font-weight: 900;
  line-height: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-head.title-border::before,
.footer-title.title-border::before {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #4aa3d8;
  margin-bottom: 10px;
}

.footer-head{
  font-size: 20px;
  color: #000;
  font-weight: 900;
  line-height: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  letter-spacing: .2rem;
    font-family: "Hexco", sans-serif;
}

.footer-section div{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
}

.footer-section p{
    color: #000;
    font-weight: 600;
}

.footer-section .btn {
  display: inline-block;
  padding: .5rem 1.5rem;
  border: none;
  background: linear-gradient(135deg, #4aa3d8, #1e7eb5);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: .4s;
  cursor: pointer;
}

.footer-section .btn:hover {
  background: linear-gradient(135deg, #1e7eb5, #4aa3d8);
  transform: translateX(8px);
}

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 5px 3% 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.footer-contact li {
  display: block;
  color: #000;
  overflow: hidden;
  padding-bottom: 15px;
}

.footer-contact li:last-child {
  padding-bottom: 0;
}

.footer-contact li span {
  float: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  width: 95px;
}

.footer-menu li a {
  color: #000;
  line-height: 2.5rem;
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.footer-menu li a:hover {
  color: #4aa3d8;
}

.copyright,
.payment {
  line-height: 60px;
}

.payment a {
  display: inline-block;
  margin-left: 10px;
}

.payment a:first-child {
  margin-left: 0;
}

.payment img {
  max-height: 30px;
}

.copyright-area {
  background: #000;
  padding: 20px 0;
  color: #f2f2f2;
}

.copyright span{
    font-size: 15px;
  color: #f2f2f2;
  line-height: 15px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  letter-spacing: .2rem;
    font-family: "Hexco", sans-serif;
}

.copyright-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-products .footer-product-grid {
  display: flex;
  gap: 20px;
}

.payment img {
  max-height: 50px;
  margin-bottom: -1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    flex: none;
    width: 100%;
    max-width: 400px;
  }
  .footer-products .footer-product-grid {
    flex-direction: column;
    align-items: center;
  }

  .copyright-container {
    padding: .1rem;
    flex-direction: column-reverse;
    text-align: center;
    gap: 0;
  }

  .newsletter-form {
    flex-direction: column;
  }
}
