* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #007bff;
}

/* .particles-container {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
} */

/* .particles-container {
  position: relative;
  width: 100%;
  height: 100%;
} */

.particles-container {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}


.home-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  pointer-events: none; /* allow pointer events to pass to canvas by default */
}

.home-content * {
  pointer-events: auto;
}

.home-content h1 {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-wrap: balance;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.home-buttons button {
  display: inline-block;
  padding: 0.7rem 2rem 0.7rem;
  font-size: 1.2rem;
  border: 0.1rem solid #fff;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px ;
  color: #fff;
  transition: background-color 0.4s ease;
}
.home-buttons button.active,
.home-buttons button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .home-content {
    padding: 1.3rem;
    top: 40%;
    line-height: 3rem;
  }

  .home-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 4rem;
  }

  .home-buttons {
    gap: 1rem;
  }

  .home-buttons button {
    width: 50%;
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem;
  }
}
