* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #007bff;
}

.home{
  position: relative;
  height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
}

.home-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  pointer-events: none; /* allow pointer events to pass to canvas by default */
}

.home-content * {
  pointer-events: auto;
}

.home-content h1 {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-wrap: balance;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.home-buttons .button-two {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  border: .1rem solid #fff;
  background: #f2f2f2;
  border-radius: 5px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home-buttons .button-two::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent);
  color: #fff;
  text-align: center;
  visibility: hidden;
  z-index: 1;
  transition:
    left 0.5s ease-in-out,
    visibility 0.3s ease;
}

.home-buttons .button-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-buttons .button-two:hover,
.home-buttons .button-two:focus,
.home-buttons .button-two:active {
  color: #fff;
}

.home-buttons .button-two:hover::before,
.home-buttons .button-two:focus::before,
.home-buttons .button-two:active::before {
  left: 0;
  visibility: visible;
}

.home-buttons .button-two.style-2 {
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
}

.home-buttons .button-two.style-2{
  text-decoration: none;
  font-size: .90rem;
  color: #000;
}

@media (max-width: 768px) {
  .home-content {
    padding: 1.3rem;
    top: 40%;
    line-height: 3rem;
  }

  .home-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 4rem;
  }

  .home-buttons {
    gap: 1rem;
  }

  .home-buttons button {
    width: 50%;
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem;
  }
}
