* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #007bff;
}

.home{
  position: relative;
  height: 100vh;
  background-color: #d9e6eb;
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.home-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #000;
  align-items: center;
  font-weight: bold;
  z-index: 5;
  pointer-events: none; 
  padding: 9rem 5% 2rem;
}

.home-content * {
  pointer-events: auto;
}

.home-content .image{
  width: 68vw;
  overflow: hidden;
  z-index: 10;
  margin-top: -2rem;
  margin-left: -12rem;
}

.home-content .image img{
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.home-content .image img:hover{
  transform: scale(1.05);
}

.home-content .home-text{
  z-index: 20;
}

.home-content h1 {
  font-size: 4.5rem;
  line-height: .93;
  font-weight: 100;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-wrap: balance;
  z-index: 50;
  font-family: "Hexco", sans-serif;
}

.home-content h1 span {
  font-family: "Hexco", sans-serif;
  text-transform: lowercase;
}

.home-content .home-para{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.02;
  color: #333;
  margin-top: -2.50rem;
  font-family: 'Inter', sans-serif;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.home-buttons .button-two {
  margin-top: 39%;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 5px;
  font-weight: 500;
  color: #000;
  font-family: "Hexco", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.home-buttons .button-two::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--accent);
  color: #fff;
  text-align: center;
  visibility: hidden;
  z-index: 1;
  transition:
    left 0.5s ease-in-out,
    visibility 0.3s ease;
}

.home-buttons .button-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home-buttons .button-two:hover,
.home-buttons .button-two:focus,
.home-buttons .button-two:active {
  color: #fff;
}

.home-buttons .button-two:hover::before,
.home-buttons .button-two:focus::before,
.home-buttons .button-two:active::before {
  left: 0;
  visibility: visible;
}

.home-buttons .button-two.style-2 {
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
}

.home-buttons .button-two.style-2{
  text-decoration: none;
  font-size: .90rem;
  color: #000;
}

.home-buttons .button-two.style-2.actives{
  background-color: #000;
  color: #fff;
  border: none;
}



/* MOBILE & TABLET RESPONSIVENESS */

@media (max-width: 992px) {

  .home{
  height: 100vh;
  overflow: hidden;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7rem 1.5rem 1rem;
    position: relative;
    top: 0;
  }

  .home-content h1 {
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .home-content .image {
  width: 63vw;
  overflow: hidden;
  margin-top: -1rem;
  margin-left: 0;
  }

.home-content .home-para{
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.07;
  color: #333;
  margin-top: -1rem;
  font-family: 'Inter', sans-serif;
}
  .home-buttons {
    gap: 1rem;
    margin-top: -25rem;
  }

  .home-buttons button {
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem;
  }

}

@media (max-width: 768px) {

    .home{
  height: 100vh;
  overflow: hidden;
  }

  .home-content h1 {
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7rem 1.5rem 1rem;
    position: relative;
    top: 0;
  }

  .home-content .home-para{
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.07;
  color: #333;
  margin-top: -1rem;
  font-family: 'Inter', sans-serif;
  }

  .home-buttons {
    gap: 1rem;
    margin-top: -13rem;
    padding: 0 8rem 0;
  }

  .home-buttons button {
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem;
  }
}

@media (max-width: 480px) {
    .home{
  height: 100vh;
  overflow: hidden;
  }

  .home-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7rem 1.5rem 1rem;
    position: relative;
    top: 0;
  }

  .home-content .home-para{
  font-size: 1.1rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.07;
  color: #333;
  margin-top: -1rem;
  font-family: 'Inter', sans-serif;
  }

  .home-content .image {
  width: 85vw;
  overflow: hidden;
  margin-top: -1rem;
  margin-left: 0;
  }

  .home-buttons {
    gap: 1rem;
    margin-top: -10rem;
    padding: 0 1.5rem 0;
  }

  .home-buttons button {
    font-size: 1rem;
    padding: 0.6rem 1rem 0.6rem;
  }

  .home-buttons .button-two {
  font-size: 0.9rem;
  padding: 0.5rem;
  font-weight: 100;
}
}

@media (max-width: 390px) {
    .home{
  height: 105vh;
  overflow: hidden;
  }

  .home-content h1 {
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem 1.5rem 1rem;
    position: relative;
    top: 0;
  }

  .home-content .home-para{
  font-size: 1rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.07;
  color: #333;
  margin-top: -1rem;
  font-family: 'Inter', sans-serif;
  }

  .home-content .image {
  width: 90vw;
  overflow: hidden;
  margin-top: -1rem;
  margin-left: 0;
  }

  .home-buttons {
    gap: 1rem;
    margin-top: -8rem;
    padding: 0 .1rem 0;
  }

  .home-buttons button {
    font-size: 1rem;
    padding: 0.6rem .1rem 0.6rem;
  }

    .home-buttons .button-two {
  font-size: 0.9rem;
  padding: 0.5rem;
  font-weight: 100;
}
}