*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
  color: #6c4ffb;
}

.particles-container {
  position: relative;
  min-height: 100vh;
  background-color: #000;
    overflow: hidden;
}

.home-content {
  position: absolute;
  width: 100%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

.home-content h1 {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin-top: 8rem;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.home-buttons button {
  display: inline-block;
  padding: .7rem 2rem .7rem;
  font-size: 1.2rem;
  border: .1rem solid #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.4s ease;
}
.home-buttons button.active,
.home-buttons button:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .home-content{
    padding: 1.3rem;
    top: 43%;
  }

  .home-content h1 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
    margin-top: 5rem;
  }

  .home-buttons {
    gap: 1rem;
  }

  .home-buttons button {
    width: 50%;
    font-size: 1rem;
    padding: .6rem 1.5rem .6rem;
  }
}