*{
    margin: 0;
    padding: 0;
}

.progress{
    padding: 15rem 2% 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
}