*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor: default;
}
@font-face {
  font-family: "Hexco";
  src: url("/public/fonts/Hexco-Font/HEXCO/HEXCO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');